@import '../../shared/style/mixin';

.button-container {
    display: flex;
    .redirect-button {
        @include button;
    }
    &-error {
        .redirect-button-error {
            @include button($bg: red);
            display: inline-block;
            margin: auto;
        }
    }
}