@mixin button($bg: #000,$color: #fff) {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    text-transform: capitalize;
    font-family: 'Montserrat Alternates', sans-serif;
    &:hover {
        background-color: $bg;
        color: $color;
        transition: all 0.5s ease-in;
    }
}

@mixin error {
    background: rgba(255, 255, 255, 0.084);
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    text-transform: capitalize;
}