@import '../../shared/style/variables.scss';
@import '../../shared/style/mixin';

.container-info {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: $color;
    margin-top: 30px;
    &__content {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 22px;
        > p {margin: 0;}
    }
}
.error-container {
    display: grid;
    place-items: center;
    .error {
        @include error;
        margin: 50px auto;
    }
}
.error-form-container {
    display: grid;
    place-items: center;
    .error {
        @include error;
        margin-top: -16px;
    }
}
@media (min-width: 320px) {
    .error-container,
    .error-form-container {
        .error {
            text-align: center;
        }
    }
}
@media (max-width: 480px) {
    .error-container {
        .error {
            font-size: 16px;
        }
    }
}
@media (max-width: 550px) {
    .container-info {
        flex-direction: column;
        align-items: center;
        &__content {
            margin-bottom: 10px;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}