@import '../../shared/style/variables.scss';

.container-info {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: $color;
    margin-top: 30px;
    &__content {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 22px;
        > p {margin: 0;}
    }
}
.error-container {
    display: grid;
    place-items: center;
    .error {
        background: rgba(255, 255, 255, 0.084);
        padding: 15px 30px;
        border-radius: 10px;
        color: #fff;
        text-transform: capitalize;
        margin: 50px auto;
    }
}
@media (max-width: 480px) {
    .error-container {
        .error {
            font-size: 16px;
        }
    }
}
@media (max-width: 550px) {
    .container-info {
        flex-direction: column;
        align-items: center;
        &__content {
            margin-bottom: 10px;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}