@import '../shared/style/_mixin.scss';

.country-form {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color: #fff;
    &__label {
        margin: 20px 0;
    }
    &__input {
        margin-bottom: 30px;
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        &:focus {
            outline: none;
        }
    }
    &__button {
        @include button;
    }
}
@media (min-width: 300px) {
    .country-form {
        &__button {
            width: 100%;
            // background: red;
        }
    }
}
@media (min-width: 768px) {
    .country-form {
        &__button {
            width: 40%!important;
            // background: blue;
        }
    }
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: #fff;
    margin-top: 30px;
    & > p {
        display: grid;
        place-items: center;
        width: 50%;
        font-size: 22px;
        font-family: 'Roboto';
    }
}

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    &-container {
        display: flex;
    }
    .convert-button {
        @include button;
    }
}

.error-container {
    display: grid;
    place-items: center;
    .error {
        color: red;
    }
}