* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../public/images/WSjKlp7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Roboto';
}